{% extends "base.html" %}

{% block content %}
    {% if post %}
        <div class="post block make-magic">
            <div class="post-title">
                <h3>{{post.title}}</h3>
                <small>{{post.author}} at {{post.created_at}}</small>
            </div>
            <div class="post-content">
                {{post.text|linebreaks}}
            </div>
        </div>
    {% else %}
        <div class="block">
            <p>Post not found :(</p>
        </div>
    {% endif %}
{% endblock %}